# Env variables
ENV=development
EXPO_PUBLIC_API_URL=https://example.com

# EXPO
EXPO_SLUG=cabii
EXPO_NAME="cabii"
EXPO_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_IOS_BUNDLE_IDENTIFIER=fr.ramzibenmansour
EXPO_ANDROID_PACKAGE=fr.ramzibenmansour.dev