# Env variables
ENV=production
EXPO_PUBLIC_API_URL=https://example.com

# EXPO
EXPO_SLUG=react-native-boilerplate
EXPO_NAME="React Native Boilerplate"
EXPO_PROJECT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_IOS_BUNDLE_IDENTIFIER=com.watarumaeda.react-native-boilerplate
EXPO_ANDROID_PACKAGE=com.watarumaeda.react_native_boilerplate